<div class="border-bottom row" style="margin-bottom: 10px; padding-bottom: 8px">
  <div class="col-9">
    <h4 style="color: rgb(120, 120, 120); margin-bottom: 8px">
      {{job['title']}}
    </h4>
    <div><b>Location:</b> {{job['location']}}</div>
    <div><b>Salary:</b> {{job['salary']}}</div>
  </div>
  <div class="col-3">
    <a
      href="mailto:careers.site.contact@gmail.com?subject=Job%20Application&body=Your%20Name%3A%20%3Cyour_name%3E%0D%0ALocation%3A%20%3Clocation%3E%0D%0AEducation%20Qualification%3A%20%3Ceducation%3E%0D%0ASkills%3A%20%3Cskills%3E%0D%0A%0D%0A%3Cattach%20your%20resume%20here%3E"
      type="button"
      class="btn btn-outline-primary"
      >Apply</a
    >
  </div>
</div>
